.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rbuildignore
DEPONS2R.Rproj
Statistics.2020.Aug.27.10_55_36.csv
Rplot.png
blocks.asc
PorpoisePerBlock.2020.Sep.02.20_24_17.csv
parameters.xml
DESCRIPTION
wfAreas.tif
DanTysk-construction.txt
